body {
  background-color: rgb(247, 247, 204);
  font-family: Arial;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(240, 214, 131);
  border: 5px solid #444;
}
